{{#if total}}
  <div class="heading">Showing {{firstResult}} - {{lastResult}} of {{total}}</div>
  <div>results for "{{q}}"</div>
{{else}}
  <div class="text-warning">No results found for "{{q}}".</div>
{{/if}}
